extends layout

block content
    link(rel='stylesheet' href='/css/gallery.css')
    .header
        h2 Galleries
    .galleries
        ul
        each gallery in galleries
            li
                a.title-link(href=gallery.gallery.filename)= gallery.name
                span= gallery.images.length + ' images'
