extends layout

block content
    link(rel='stylesheet' href='/css/gallery.css')
    .gallery-title
        h1= galleryName

    .images
        each image in images
            .photo-box
                a(href=image.url)
                    img(src=image.url alt=image.name)

